@model BMS.Models.BorrowBook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BorrowBook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span><strong>Start</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.borrow_date)
        </dd>

        <dt>
            <span><strong>Expire</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.expire_date)
        </dd>

        <dt>
            <span><strong>Status</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            <span><strong>Admin</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.admin_name)
        </dd>

        <dt>
            <span><strong>Name</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Book.book_name)
        </dd>

        <dt>
            <span><strong>Cateogry</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.category_name)
        </dd>

        <dt>
            <span><strong>Borrower</strong></span>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borrower.borrower_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.borrow_book_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
